@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&display=swap');


body {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  text-align: center;
  background: #101111;
  color: #fff;
}
